ajax==3.0.0
antiorm==1.2.1
appdirs==1.4.4
asgiref==3.3.4
cachelib==0.4.1
click==8.0.0
colorama==0.4.3
db==0.1.1
decorator==5.0.9
distlib==0.3.2
Django==3.2.4
django-appconf==1.0.4
dnspython==2.1.0
document==1.0
email-validator==1.1.2
filelock==3.0.12
Flask==2.0.0
Flask-Cors==3.0.10
flask-mongoengine==1.0.0
Flask-PyMongo==2.3.0
Flask-Session==0.4.0
Flask-WTF==0.15.1
globals==0.3.1
idna==3.2
itsdangerous==2.0.0
Jinja2==3.0.0
MarkupSafe==2.0.0
mongoengine==0.23.1
pymongo==3.11.4
python-helper==0.3.2
pytz==2021.1
six==1.16.0
sqlparse==0.4.1
virtualenv==20.4.7
Werkzeug==2.0.0
WTForms==2.3.3
