.english {
  font-family:  monospace;
}
.chinese {
    font-size: 30px;
}

#my-container {
  height: 100vh;
}

.xy-scroll{
      overflow: hidden !important;
}

.x-scroll{
      overflow-x: hidden !important;
}

.button {
  padding: 11px 9px !important;
  font-size: 15px !important;
    width: 82px !important;
}


.here {
  padding-right: 10px !important;
  padding-left: 10px !important;
}
.column {
  padding-right: 2px !important;
  padding-left: 2px !important;
}

.smallIn {
     width: 60px !important;
}

html {
    -ms-touch-action: manipulation;
        touch-action: manipulation;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}