<!DOCTYPE html>
<html lang="en">

<title>狼人面杀</title>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>

  <script src="./static/register.js"></script>
  <link rel="stylesheet" type="text/css" href="static/style.css">
  <link href="./static/assets/favicon.ico" rel="icon">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
<title>Student</title>
</head>

<div id="my-container" class="ui grid middle aligned center aligned">
  <div class="row">
    <div class="four wide column">
      <div class="ui text  segment">
             <p class="chinese">狼人杀</p>
      <div class=" form-container">
      <form class="english" id="registration" onsubmit="submitName()">

        <div class="form-group">
            <div class="ui icon input ">
          <input type="text" class="form-control" name="username" id="username" required autocomplete="off" placeholder="用户名"><i id="info" class="user circle icon"> </i>
            </div>
                <div id="msg">Username exists</div>
        </div>
          <button type="button" class="ui black button" id="register" onclick="submitName()"/>提交 </button>


      </form>
      </div>
      </div>
    </div>
  </div>
</div>

</script>

</html>